/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Fondo claro para contrastar con los azules */
}

#map {
    width: 100%;
    height: 100%;
}

#departamentos, #quebradas {
    position: absolute;
    bottom: 40px;
    z-index: 1000;
    background-color: white;
    padding: 8px 12px;
    border: 2px solid #0094FF; /* Borde azul claro */
    border-radius: 8px;
    font-size: 14px;
    color: #0000AD; /* Texto azul oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#departamentos {
    left: 28%;
    transform: translateX(-50%);
}

#quebradas {
    left: 78%;
    transform: translateX(-50%);
}

#resetView {
    position: absolute;
    top: 10px;
    left: 3%;
    z-index: 1000;
    background-color: #0094FF; /* Fondo azul claro */
    padding: 8px 12px;
    border: 2px solid #0000FF; /* Borde azul medio */
    border-radius: 8px;
    font-size: 14px;
    color: white; /* Texto blanco para contrastar */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#resetView:hover {
    background-color: #0000FF; /* Fondo azul medio al hacer hover */
    border-color: #0000AD; /* Borde azul oscuro al hacer hover */
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #0000AD; /* Texto azul oscuro */
    z-index: 1000;
}

/* Estilos para móviles */
@media (max-width: 768px) {
    #departamentos, #quebradas {
        width: 45%;
        font-size: 12px;
        padding: 6px 10px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #departamentos {
        bottom: 5%;
        left: 25%;
    }

    #quebradas {
        bottom: 5%;
        left: 75%;
    }

    #resetView {
        top: 20px;
        left: 35%;
        padding: 6px 10px;
        font-size: 12px;
    }

    #loading {
        font-size: 14px;
    }
}